* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  outline: none;
  font-family: sans-serif;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
          box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  background: #03a9f4;
  border-radius: 10px; }

::-webkit-scrollbar-thumb:hover {
  background: #0281bd; }

a:hover {
  color: #1b1b1b !important; }

header {
  width: 100%;
  height: 100vh;
  background: #fff; }
  header .anim-block-header {
    border: 2px solid #000;
    position: absolute;
    -webkit-transition: 4s;
    transition: 4s; }
    header .anim-block-header .anim-block-corner {
      width: 10px;
      height: 10px;
      position: absolute;
      border: 2px solid #000;
      background: #fff; }
      header .anim-block-header .anim-block-corner:nth-of-type(1) {
        left: -5px;
        top: -5px; }
      header .anim-block-header .anim-block-corner:nth-of-type(2) {
        right: -5px;
        top: -5px; }
      header .anim-block-header .anim-block-corner:nth-of-type(3) {
        left: -5px;
        bottom: -5px; }
      header .anim-block-header .anim-block-corner:nth-of-type(4) {
        right: -5px;
        bottom: -5px; }
    header .anim-block-header .dev-user {
      position: absolute;
      left: 20%;
      top: 20%;
      color: #000;
      font-size: 20px; }
      header .anim-block-header .dev-user i {
        font-size: 30px; }
      header .anim-block-header .dev-user span {
        font-size: 13px;
        color: #00000091;
        text-shadow: 0px 0px 8px #00000026; }

.content-site {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
  .content-site .content-slider-block {
    width: auto;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
  .content-site .main-parrent {
    max-width: 1000px;
    height: calc(100vh - 165px);
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 180px 20px 20px; }
    .content-site .main-parrent.active {
      z-index: 1; }
      .content-site .main-parrent.active .main {
        -webkit-transform: rotateX(0deg) translateY(0) !important;
                transform: rotateX(0deg) translateY(0) !important;
        z-index: 1; }
  .content-site .main {
    width: 1000px;
    height: 100%;
    background: #8f8f8f05;
    border-radius: 19px;
    -webkit-box-shadow: 0px 0px 9px #00000070;
            box-shadow: 0px 0px 9px #00000070;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    position: relative;
    padding-top: 35px;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s; }
    @media (max-width: 520px) {
      .content-site .main {
        width: 95%; } }
    .content-site .main .slider-categories {
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      left: -150px;
      top: 35%;
      color: #0000007a; }
      .content-site .main .slider-categories span {
        margin-right: 15px; }
    .content-site .main .slider-block {
      width: calc(100% - 90px);
      height: auto;
      margin-left: 80px;
      display: block;
      position: relative; }
      .content-site .main .slider-block .slider-block-body {
        padding: 0 10px 15px 10px;
        overflow: auto; }
        .content-site .main .slider-block .slider-block-body h1 {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 33px;
          color: #000000; }
        .content-site .main .slider-block .slider-block-body .text {
          width: 80%;
          font-style: normal;
          font-weight: normal;
          line-height: 28px;
          color: #000000; }
        .content-site .main .slider-block .slider-block-body .images-blocks {
          width: 100%;
          height: auto;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .content-site .main .slider-block .slider-block-body .images-blocks .images-block {
            width: calc(100% / 5);
            height: 155px;
            border: 10px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            margin-right: 10px;
            border-radius: 10px;
            margin-top: 10px;
            -webkit-transition: 0.2s;
            transition: 0.2s; }
            .content-site .main .slider-block .slider-block-body .images-blocks .images-block:hover {
              -webkit-box-shadow: 3px 3px 10px #000000a6;
                      box-shadow: 3px 3px 10px #000000a6;
              -webkit-transform: translate(-3px, -3px);
                      transform: translate(-3px, -3px); }
    .content-site .main .next-prev-buttons {
      width: calc(100% - 90px);
      margin-left: 80px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 10px; }

.navbar-site {
  width: 100%;
  max-width: 1000px;
  height: 80px;
  background: #8f8f8f05;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: absolute;
  top: 20px;
  left: 50%;
  -webkit-box-shadow: 0 0 9px #00000070;
          box-shadow: 0 0 9px #00000070;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 520px) {
    .navbar-site {
      width: 95%; } }
  .navbar-site a {
    padding: 10px 0;
    margin: 0 20px;
    color: #000;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0); }
    .navbar-site a.active {
      border-bottom: 1px solid #000; }
    .navbar-site a:hover {
      border-bottom: 1px solid #000; }
  .navbar-site .navbar-logo {
    margin-right: 0;
    -webkit-transition: unset;
    transition: unset;
    border: 0; }
    .navbar-site .navbar-logo:hover {
      border: 0; }
    .navbar-site .navbar-logo img {
      width: 70px;
      margin-top: 5px;
      margin-left: 15px; }
  .navbar-site .info-block {
    position: absolute;
    right: 0;
    bottom: -38px; }
    .navbar-site .info-block .soc-site {
      margin: 0 5px; }
      .navbar-site .info-block .soc-site:hover .fab {
        -webkit-transform: scale(1.2);
                transform: scale(1.2); }
    .navbar-site .info-block a {
      color: #0073B4;
      border-bottom: 0; }
      .navbar-site .info-block a .fab {
        -webkit-transition: 0.2s;
        transition: 0.2s;
        font-size: 25px; }
      .navbar-site .info-block a .fa-viber {
        color: #665CAC; }
      .navbar-site .info-block a .fa-whatsapp {
        color: #25D366; }
      .navbar-site .info-block a .fa-telegram {
        color: #0088cc; }
      .navbar-site .info-block a:hover {
        color: #03a9f4;
        border-bottom: 0; }

.go-to-call {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: 20px;
  bottom: 20px;
  background: #25D366;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s; }
  .go-to-call:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 0 100px 100px 0;
    color: #fff !important; }
    .go-to-call:hover span {
      -webkit-transform: scale(1);
              transform: scale(1); }
  .go-to-call span {
    position: absolute;
    font-size: 18px;
    left: -140px;
    top: 0;
    width: 140px;
    background: #25d366;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: right;
            transform-origin: right;
    padding-left: 15px; }

#main__prices .prices-body {
  width: 54rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #main__prices .prices-body .left-block {
    width: 20rem;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 0 5px 5px;
    position: relative; }
    #main__prices .prices-body .left-block .names {
      color: #0073B4;
      width: 100%;
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-size: 14px;
      padding-left: 20px;
      margin: 5px 0;
      z-index: 1;
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      -webkit-transition-delay: 0.1s;
              transition-delay: 0.1s; }
      #main__prices .prices-body .left-block .names:nth-of-type(1) {
        margin-top: 40px; }
      #main__prices .prices-body .left-block .names:hover {
        color: #01649e; }
      #main__prices .prices-body .left-block .names.active {
        color: #fff; }
    #main__prices .prices-body .left-block .anim-block {
      position: absolute;
      left: 0;
      top: 45px;
      background: #0073B4;
      width: 100%;
      height: 45px;
      border-radius: 30px 0 0 30px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      #main__prices .prices-body .left-block .anim-block:before {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: -16px;
        background: url("../images/Vector-1.png") no-repeat center center;
        background-size: contain; }
      #main__prices .prices-body .left-block .anim-block:after {
        content: "";
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        bottom: -16px;
        background: url("../images/Vector-1.png") no-repeat center center;
        background-size: contain;
        -webkit-transform: rotate(270deg);
                transform: rotate(270deg); }
  #main__prices .prices-body .right-block {
    width: calc(100% - 20rem);
    height: auto;
    background: #0073B4;
    padding: 35px;
    border-radius: 30px;
    overflow: auto; }
    #main__prices .prices-body .right-block .info-block {
      color: #fff; }
    #main__prices .prices-body .right-block h1 {
      color: #fff; }

.la-square-jelly-box,
.la-square-jelly-box > div {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.la-square-jelly-box {
  display: block;
  font-size: 0;
  color: #0073B4; }

.la-square-jelly-box.la-dark {
  color: #0073B4; }

.la-square-jelly-box > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor; }

.la-square-jelly-box {
  width: 32px;
  height: 32px; }

.la-square-jelly-box > div:nth-child(1),
.la-square-jelly-box > div:nth-child(2) {
  position: absolute;
  left: 0;
  width: 100%; }

.la-square-jelly-box > div:nth-child(1) {
  top: -25%;
  z-index: 1;
  height: 100%;
  border-radius: 10%;
  -webkit-animation: square-jelly-box-animate .6s -.1s linear infinite;
  animation: square-jelly-box-animate .6s -.1s linear infinite; }

.la-square-jelly-box > div:nth-child(2) {
  bottom: -9%;
  height: 10%;
  background: #0073B4;
  border-radius: 50%;
  opacity: .2;
  -webkit-animation: square-jelly-box-shadow .6s -.1s linear infinite;
  animation: square-jelly-box-shadow .6s -.1s linear infinite; }

.la-square-jelly-box.la-sm {
  width: 16px;
  height: 16px; }

.la-square-jelly-box.la-2x {
  width: 64px;
  height: 64px; }

.la-square-jelly-box.la-3x {
  width: 96px;
  height: 96px; }

/*
 * Animations
 */
@-webkit-keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%; }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg); }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg); }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg); }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg); } }
@keyframes square-jelly-box-animate {
  17% {
    border-bottom-right-radius: 10%; }
  25% {
    -webkit-transform: translateY(25%) rotate(22.5deg);
    transform: translateY(25%) rotate(22.5deg); }
  50% {
    border-bottom-right-radius: 100%;
    -webkit-transform: translateY(50%) scale(1, 0.9) rotate(45deg);
    transform: translateY(50%) scale(1, 0.9) rotate(45deg); }
  75% {
    -webkit-transform: translateY(25%) rotate(67.5deg);
    transform: translateY(25%) rotate(67.5deg); }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg); } }
@-webkit-keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    transform: scale(1.25, 1); } }
@keyframes square-jelly-box-shadow {
  50% {
    -webkit-transform: scale(1.25, 1);
    transform: scale(1.25, 1); } }
.preloader {
  width: 100vw;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.preloader .text {
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #0073B4;
  margin-top: 50px; }
